:root {
  --primary-50: var(--primary-50);
  --primary-100: #dae2ff;
  --primary-200: #becdff;
  --primary-300: #91aeff;
  --primary-400: #5e84fc;
  --primary-500: #3758f9;
  --primary-600: #2237ee;
  --primary-700: #1a25db;
  --primary-800: #1c20b1;
  --primary-900: #1c228c;
  --primary-950: #161755;

  --primary-text: white;
  --neutral-brand-color: #465fff;

  /* Text Color */
  --text-50: #374151;
  --text-100: #6b7280;
  --text-200: #9ca3af;
  --text-300: #e5e7eb;

  /* Context Color */
  --error-500: #ef4444;
  --success-500: #22c55e;
  --warning-500: #eab308;
  --info-500: #0ea5e9;

  /* Title */
  --title-50: #1f2937;

  /* White */
  --white-100: #ffffff;
  --white-90: #ffffffcc;
  --white-80: #ffffffcc;
  --white-70: #ffffffb3;
  --white-60: #ffffff99;

  /* Border Color */
  --border-color-base-50: #f3f4f6;
  --border-color-base-100: #e5e7eb;
  --border-color-base-200: #e5e7eb;
  --border-color-base-300: #d1d5db;

  --chart-line: #e5e7eb;

  /* Foreground Colors */
  --foreground-50: #030712;
  --foreground-100: #111827;

  /* Gray */
  --foreground-soft-50: #111827;
  --foreground-soft-100: #111827;
  --foreground-soft-200: #1f2937;
  --foreground-soft-300: #030712;
  --foreground-soft-400: #1f2937;
  --foreground-soft-500: #374151;

  /* Background Colors */
  --background-50: #ffffff;
  --background-100: #ffffff;

  /* Gray colors */
  --background-soft-50: #f9fafb;
  --background-soft-100: #f3f4f6;
  --background-soft-200: #f3f4f6;
  --background-soft-300: #f3f4f6;
  --background-soft-400: #e5e7eb;
  --background-soft-500: #d1d5db;

  --background-success-600: #16a34a;

  /* ======== Button Color =========*/

  /* Primary */
  --button-primary-background: #5750f1;
  --button-primary-hover-background: #3c35d8;
  --button-primary-text: #ffffff;
  --button-primary-focus-ring: rgba(87, 80, 241, 0.2);

  /* Outline */
  --button-outline-background: #ffffff;
  --button-outline-hover-background: #f3f4f6;
  --button-outline-border: #d1d5db;
  --button-outline-focus-ring: rgba(152, 162, 179, 0.14);
  --button-outline-text: #1f2937;
  --button-outline-hover-text: #111827;
  --button-outline-disabled-background: #ffffff;
  --button-outline-disabled-text: #9ca3af;
  --button-outline-disabled-border: #f3f4f6;

  /* Disable */
  --button-disabled-background: #f3f4f6;
  --button-disabled-border: #f3f4f6;
  --button-disabled-text: #9ca3af;

  /* Error */
  --button-error-background: #dc2626;
  --button-error-hover-background: #b91c1c;
  --button-error-border: #ef4444;
  --button-error-text: #ffffff;
  --button-error-focus-ring: rgba(220, 38, 38, 0.2);

  /* Error Outline */
  --button-error-outline-background: #fef2f2;
  --button-error-outline-hover-background: #fecaca;
  --button-error-outline-border: #ef4444;
  --button-error-outline-focus-border: #dc2626;
  --button-error-outline-focus-ring: rgba(220, 38, 38, 0.2);
  --button-error-outline-text: #b91c1c;
  --button-error-outline-hover-text: #b91c1c;

  /* Success */
  --button-success-background: #16a34a;
  --button-success-hover-background: #15803d;
  --button-success-border: #22c55e;
  --button-success-text: #ffffff;
  --button-success-focus-ring: rgba(22, 163, 74, 0.2);

  /* Success Outline */
  --button-success-outline-background: #f0fdf4;
  --button-success-outline-hover-background: #bbf7d0;
  --button-success-outline-border: #22c55e;
  --button-success-outline-focus-border: #16a34a;
  --button-success-outline-text: #15803d;
  --button-success-outline-hover-text: #15803d;
  --button-success-outline-focus-ring: rgba(22, 163, 74, 0.2);

  /* Ghost */
  --button-ghost-text: #9ca3af;
  --button-ghost-hover-text: #6b7280;
  --button-ghost-hover-background: #f3f4f6;

  /* Button Group Primary */
  --button-group-primary-background: #ffffff;
  --button-group-primary-hover-background: #5750f1;
  --button-group-primary-text: #5750f1;
  --button-group-primary-hover-text: #ffffff;

  /* Button Group Secondary */
  --button-group-secondary-background: #ffffff;
  --button-group-secondary-text: #374151;

  /* ======== Badge Color =========*/

  /* Badge Neutral */
  --badge-neutral-background: #f3f4f6;
  --badge-neutral-text: #374151;
  --badge-neutral-icon-color: #6b7280;

  /* Badge Primary */
  --badge-primary-background: #eff3ff;
  --badge-primary-text: #3758f9;
  --badge-primary-icon-color: #3758f9;

  /* Badge Error */
  --badge-error-background: #fef2f2;
  --badge-error-text: #b91c1c;
  --badge-error-icon-color: #ef4444;

  /* Badge Warning*/
  --badge-warning-background: #fffbeb;
  --badge-warning-text: #b45309;
  --badge-warning-icon-color: #f59e0b;

  /* Badge Success*/
  --badge-success-background: #f0fdf4;
  --badge-success-text: #15803d;
  --badge-success-icon-color: #22c55e;

  /* Badge Cyan */
  --badge-cyan-background: #ecfeff;
  --badge-cyan-text: #0e7490;
  --badge-cyan-icon-color: #06b6d4;

  /* Badge Sky */
  --badge-sky-background: #f0f9ff;
  --badge-sky-text: #0369a1;
  --badge-sky-icon-color: #0ea5e9;

  /* Badge Blue */
  --badge-blue-background: #eff6ff;
  --badge-blue-text: #1d4ed8;
  --badge-blue-icon-color: #3b82f6;

  /* Badge Violet */
  --badge-violet-background: #f5f3ff;
  --badge-violet-text: #6d28d9;
  --badge-violet-icon-color: #8b5cf6;

  /* Badge Purple */
  --badge-purple-background: #faf5ff;
  --badge-purple-text: #7e22ce;
  --badge-purple-icon-color: #a855f7;

  /* Badge Pink */
  --badge-pink-background: #fdf2f8;
  --badge-pink-text: #be185d;
  --badge-pink-icon-color: #ec4899;

  /* Badge Rose */
  --badge-rose-background: #fff1f2;
  --badge-rose-text: #be123c;
  --badge-rose-icon-color: #f43f5e;

  /* Badge Orange */
  --badge-orange-background: #fff7ed;
  --badge-orange-text: #c2410c;
  --badge-orange-icon-color: #f97316;

  /* ======== Chart =========*/

  --chart-tick: var(--text-50);
  --chart-legend: var(--text-50);
  --chart-grid: var(--border-color-base-100);

  /* ======== Sidebar =========*/

  /* Nav Item */
  --sidebar-nav-default-background: #ffffff;
  --sidebar-nav-hover-background: #f9fafb;
  --sidebar-nav-secondary-hover-background: #f3f4f6;
  --sidebar-nav-hover-text: #374151;
  --sidebar-nav-active-text: #3758f9;
  --sidebar-nav-active-background: #eff3ff;
  --sidebar-nav-focused-background: #eff3ff;
  --sidebar-nav-default-text: #374151;
  --sidebar-nav-icon: #6b7280;

  /* Sidebar Badge */
  --sidebar-badge-background: #3758f9;
  --sidebar-badge-text: #ffffff;

  /* Sidebar Footer */
  --sidebar-footer-background: #f9fafb;
  --sidebar-footer-title: #111827;
  --sidebar-footer-subtitle: #6b7280;
  --sidebar-footer-button-text: #ffffff;

  /* ======== Card Color =========*/
  --card-background-50: #ffffff;
  --card-background-100: #ffffff;
  --card-background-200: #f3f4f6;
  --card-background-300: #f9fafb;

  /* ======== Alert Success Color =========*/
  --alert-success-background: #f0fdf4;
  --alert-success-icon-background: #16a34a;
  --alert-success-border: #bbf7d0;
  --alert-success-close-icon: #16a34a;
  --alert-success-title: #166534;
  --alert-success-description: #15803d;
  --alert-success-button-background: #16a34a;
  --alert-success-button-hover-background: #15803d;
  --alert-success-button-text: #15803d;

  /* ======== Alert Danger Color =========*/
  --alert-danger-background: #fef2f2;
  --alert-danger-icon-background: #dc2626;
  --alert-danger-border: #fecaca;
  --alert-danger-close-icon: #b91c1c;
  --alert-danger-title: #991b1b;
  --alert-danger-description: #b91c1c;
  --alert-danger-button-background: #dc2626;
  --alert-danger-button-hover-background: #b91c1c;
  --alert-danger-button-text: #b91c1c;

  /* ======== Alert Info Color =========*/
  --alert-info-background: #f0f9ff;
  --alert-info-icon-background: #0ea5e9;
  --alert-info-border: #bae6fd;
  --alert-info-close-icon: #0284c7;
  --alert-info-title: #075985;
  --alert-info-description: #0369a1;
  --alert-info-button-background: #0284c7;
  --alert-info-button-hover-background: #0369a1;
  --alert-info-button-text: #0369a1;

  /* ======== Alert Warning Color =========*/
  --alert-warning-background: #fefce8;
  --alert-warning-icon-background: #eab308;
  --alert-warning-border: #fef08a;
  --alert-warning-close-icon: #ca8a04;
  --alert-warning-title: #854d0e;
  --alert-warning-description: #a16207;
  --alert-warning-button-background: #ca8a04;
  --alert-warning-button-hover-background: #a16207;
  --alert-warning-button-text: #ca8a04;

  /* ======== Alert Default Color =========*/
  --alert-default-background: #f9fafb;
  --alert-default-icon-background: #6b7280;
  --alert-default-border: #e5e7eb;
  --alert-default-close-icon: #4b5563;
  --alert-default-title: #1f2937;
  --alert-default-description: #374151;
  --alert-default-button-background: #52525b;
  --alert-default-button-hover-background: #374151;
  --alert-default-button-text: #374151;

  /* ======== Input Color =========*/
  --input-background: #ffffff;
  --input-label-text: #374151;
  --input-disabled-text: #d1d5db;
  --input-disabled-background: #fafafa;
  --input-disabled-border: #e4e4e7;
  --input-placeholder-text: #9ca3af;
  --input-primary-focus-border: #5750f1;
  --input-error-focus-border: #ef4444;
  --input-success-focus-border: #22c55e;
  --input-error: #ef4444;
  --input-success: #22c55e;

  /* ======== Tab Color =========*/
  --tab-background: #f4f4f5;
  --tab-active-background: #ffffff;
  --tab-secondary-active-background: #eff3ff;

  /* ======== Checkbox Color =========*/
  --checkbox-background: #ffffff;
  --checkbox-checked-border: #5750f1;
  --checkbox-checked-background: #5750f1;
  --checkbox-checked-icon-color: #ffffff;

  /* ======== Scrollbar Color =========*/
  --scrollbar-background: #e5e7eb;

  /* ======== Datepicker Color =========*/
  --datepicker-background: #ffffff;
  --datepicker-selected-background: #3758f9;
  --datepicker-selected-hover-background: #f9fafb;

  /* ======== Dropdowns Color =========*/
  --dropdown-background: #ffffff;
  --dropdown-hover-background: #f4f4f5;
  --dropdown-secondary-background: #ffffff;
  --dropdown-divider: #f3f4f6;

  /* ======== Calendar Color =========*/
  --calendar-primary-badge: #3758f9;
  --calendar-primary-background: #eff3ff;
  --calendar-success-badge: #22c55e;
  --calendar-success-background: #f0fdf4;
  --calendar-warning-badge: #f97316;
  --calendar-warning-background: #fff7ed;
  --calendar-danger-badge: #ef4444;
  --calendar-danger-background: #fef2f2;
  --calendar-info-badge: #0ea5e9;
  --calendar-info-background: #f0f9ff;
  --calendar-text: #374151;
  --calendar-menu-text: #9ca3af;
  --calendar-dropdown-background: #ffffff;

  /* ======== Pricing Table Color =========*/
  --pricing-active-switcher-background: #ffffff;
  --pricing-active-card-background: #1f2937;
  --pricing-button-background: #1f2937;
  --pricing-icon-color: #3758f9;
  --pricing-icon-background: #eff3ff;

  /* ======== FAQ's Color =========*/
  --faq-primary-active-background: #f9fafb;
  --faq-secondary-active-background: #eff3ff;
  --faq-secondary-active-border: #dae2ff;
  --faq-secondary-active-title: #1f2937;
  --faq-secondary-active-text: #374151;

  /* ======== Chat List Color =========*/
  --chat-list-background-primary: #374151;
  --chat-list-background-primary-alt: #f3f4f6;
  --chat-list-background-secondary: #3758f9;
  --chat-list-background-secondary-alt: #dae2ff;

  /* ======== Tooltip Color =========*/
  --tooltip-text: #374151;
  --tooltip-border: #e5e7eb;

  /* ======== Popovers Color =========*/
  --popover-title-background: #f3f4f6;
  --popover-border: #e5e7eb;

  /* ======== Skeleton Color =========*/
  --skeleton-gradient-50: #e5e7eb;
  --skeleton-gradient-100: #f9fafb;
  --skeleton-gradient-200: #e5e7eb;

  /* ======== 404 Page Color =========*/
  --404-background: #ffffff66;
  --404-foreground: #e5e7eb;

  /* ======== Blogs Color =========*/
  --blog-shape: #e5e7eb;

  /* ======== Modal Color =========*/
  --modal-button-success-background: #16a34a;
  --modal-button-info-background: #0284c7;
  --modal-button-warning-background: #ca8a04;
  --modal-button-error-background: #dc2626;

  /* ======== Section Title Color =========*/
  --section-title-badge: #3758f9;
  --section-title-badge-background: #3758f90d;

  /* ======== Mobile Nav Menu Button Color =========*/
  --mobile-nav-icon: #374151;
  --mobile-nav-background: #ffffff;
  --mobile-nav-hover-background: #f3f4f6;

  /* ======== Footer Color =========*/
  --footer-card-background: #f9fafb;
  --footer-background: #ffffff;

  /* ======== Bento Color =========*/
  --bento-card-background: #f3f4f6;
  --bento-gradient-shade-1: #ffffff00;
  --bento-gradient-shade-2: #ffffff80;
  --bento-gradient-shade-3: #ffffff;

  /* ======== CTA Color =========*/
  --cta-icon-background: #ffffff;
  --cta-background: #ffffff;

  /* ======== Hero Color =========*/
  --hero-background: #f3f4f6;
  --hero-card-background: #ffffff;
  --hero-card-2-background: #f3f4f6;
  --hero-gradient-shade-1: #ffffff99;
  --hero-gradient-shade-2: #ffffff;

  /* ======== Toggle Color =========*/
  --toggle-default-background: #e4e4e7;
  --toggle-disabled-foreground: #ffffff;
  --toggle-disabled-background: #f3f4f6;
  --toggle-active-background: #5750f1;

  /* ======== Map Color =========*/
  --map-fill: #d1d5db;

  /* ======== AI Sidebar Gradient Color =========*/
  --ai-sidebar-primary-gradient-shade-1: #ffffff;
  --ai-sidebar-primary-gradient-shade-2: #ffffff00;
  --ai-sidebar-secondary-gradient-shade-1: #f3f4f6;
  --ai-sidebar-secondary-gradient-shade-2: #f3f4f600;

  /* ======== AI Sidebar Menu Color =========*/
  --ai-sidebar-hover-primary-shade-1: #f3f4f6;
  --ai-sidebar-hover-primary-shade-2: #f3f4f600;
  --ai-sidebar-hover-secondary-shade-1: #e5e7eb;
  --ai-sidebar-hover-secondary-shade-2: #e5e7eb00;
  --ai-sidebar-hover-primary-background: #f3f4f6;
  --ai-sidebar-hover-secondary-background: #e5e7eb;
  --ai-title-gradient-shade-1: #1f2937;
  --ai-title-gradient-shade-2: #9ca3af;
  --ai-hero-blend-1: #f3f4f6;
  --ai-hero-blend-2: #f3f4f600;

  /* Shadows */
  --shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-sm: 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  --shadow-md: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
  --shadow-lg: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  --shadow-xl: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-2xl: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-3xl: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --drop-shadow-theme-3xl: 0 32px 64px rgba(16, 24, 40, 0.14);
  --popover-shadow: 0px 5px 5px -2px rgba(16, 24, 40, 0.04);
  --shadow-hero: 0px -14px 100px 0px rgba(0, 0, 0, 0.05);

  /* ======================= Next Admin Dashboard  ======================= */
  /* backgrounds */
  --background-gray-secondary_alt_2: #f4f4f5;
  --background-gray-secondary_alt: #f4f4f5;
  --background-gray-primary: #fafafa;
  --background-gray-secondary: #f4f4f5;
  --background-gray-tertiary: #e4e4e7;
  --input-background: #ffffff;
  --card-surface-area: #fcfcfd;
  --card-background: #ffffff;
  --sidebar-navigation-nav-item-nav-hover-background: rgba(0, 0, 0, 0.05);
  --background-white-secondary: #ffffff;
  --button-primary-outline-background: #ffffff;
  --button-primary-outline-hover-background: #f4f4f5;
  --dropdowns-background: #ffffff;
  --background-white-primary: #fff;
  --tooltip-background: #ffffff;
  --button-error-outline-background: #fef2f2;
  --badge-gray-background: #f4f4f5;
  --badge-gray-icon: #71717a;
  --background-gray-quaternary: #d4d4d8;

  /* general color */
  --brand-100: #e0e7ff;
  --brand-200: #c7d2fe;
  --brand-300: #a5b4fc;
  --brand-400: #818cf8;
  --brand-500: #5750f1;
  --brand-600: #3c35d8;
  --base-white: #ffffff;
  --green-600: #16a34a;
  --red-600: #dc2626;
  --gray-100: #f4f4f5;
  --purple-300: #d8b4fe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-900: #1e3a8a;
  --violet-300: #c4b5fd;
  --pink-200: #fbcfe8;

  /* text */
  --text-tertiary: #71717a;
  --input-placeholder-text-color: #a1a1aa;
  --text-secondary: #52525b;
  --text-primary: #18181b;
  --button-primary-outline-text: #27272a;
  --logo-text: #18181b;
  --tooltip-text-color: #52525b;
  --button-error-outline-text: #b91c1c;
  --input-label-text-color: #52525b;
  --text-disable: #a1a1aa;

  /* icons */
  --icon-tertiary: #71717a;
  --icon-secondary: #52525b;
  --icon-primary: #27272a;

  /* borders */
  --input-border: #d4d4d8;
  --card-border: #e8e8e8;
  --card-surface-border: #e5e5e5;
  --border-secondary-alt: #e4e4e7;
  --border-primary: #f4f4f5;
  --border-secondary: #e4e4e7;
  --button-primary-outline-stroke: #d4d4d8;
  --button-error-outline-stroke: #ef4444;

  --shadow-xs: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  --shadow-3xl: 0 32px 64px -12px rgba(16, 24, 40, 0.14);

  --animate-pulse-custom: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
}
